<phpunit bootstrap="vendor/autoload.php">
  <php>
    <env name="RESOURCEKEY" value="!!YOUR_RESOURCE_KEY!!"/>
    <env name="FOD_CLOUD_API_URL" value=""/>
    <env name="AcceptChPlatformKey" value="!!YOUR_RESOURCE_KEY!!"/>
    <env name="AcceptChHardwareKey" value="!!YOUR_RESOURCE_KEY!!"/>
    <env name="AcceptChBrowserKey" value="!!YOUR_RESOURCE_KEY!!"/>
    <env name="AcceptChNoneKey" value="!!YOUR_RESOURCE_KEY!!"/>
  </php>
  <testsuites>
    <testsuite name="Integration">
      <file>tests/ExampleTests.php</file>
      <file>tests/DeviceDetectionTests.php</file>
      <file>tests/ExampleWebTests.php</file>
      <file>tests/UACHCloudTests.php</file>
    </testsuite>
  </testsuites>
</phpunit>
